.container {
  box-shadow: var(--primary-shadow);
  width: var(--header-width);
  margin: 18px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.container input {
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 5px;
  padding: 5px;
  flex: auto;
}

.container button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container input {
    padding: 10px;
  }
  .container button {
    width: 100%;
  }
}
