 .container {
    box-shadow: var(--primary-shadow);
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 15px;
  }
  
  .images{
    width: 300px;
  }

 
  
  .title {
    margin: 10px 0;
    color: blueviolet;
  }
  
  .detail {
    font-size: 0.85rem;
    color: grey;
    margin: 5px 0;
  }
  
  .footer {
    display: flex;
    justify-content: start;
    margin: 20px 0 5px;
    flex-direction: row;
  }
  
  .price {
    background-color: var(--primary-color);
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  .location {
    display: flex;
    align-items: flex-end;
  }
  
  .location p {
    margin-right: 5px;
  } 

  