.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.image_container {
  position: relative;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: var(--main-border-radius);
  box-shadow: var(--primary-shadow);
}

.header {
  margin: 40px 0 20px;
  font-size: 28px;
}

.details {
  width: 100%;
  box-shadow: var(--primary-shadow);
  padding: 10px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 16px;
}

.details div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.details span {
  color: gray;
  margin-left: auto;
}

.details p {
  margin-left: 10px;
}

.descriptionTitle {
  margin: 15px 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.descriptionText {
  color: gray;
  text-align: justify;
  margin-bottom: 10px;
}

.details .price {
  display: flex;
  align-items: center;
}

.price p,
.price span {
  font-size: 1.5rem;
}

.button {
  background-color: var(--primary-color);
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  margin: 50px 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    margin: 0 15px;
  }
}
